<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body class="<%= data.layout %> <%= data.page_class %> flex flex-col h-screen">
    <header>
      <div class="overflow-hidden bg-slate-950">
        <div class="container relative flex items-center justify-center max-w-6xl py-8 mx-auto">
          <a href="/" class="relative z-10 transition-opacity duration-300 hover:opacity-80">
            <img class="h-9" src="<%= relative_url '/images/logo.svg' %>" alt="OpticGrid Networks" />
          </a>
          <div class="flex h-[200%] absolute w-[100px] rotate-[35deg] right-0 origin-center">
            <div class="w-[50%] h-[200%] bg-slate-700"></div>
            <div class="w-[50%] h-[200%] bg-primary-500"></div>
          </div>
        </div>
      </div>
    </header>
    <main class="flex-grow"><%= yield %></main>
    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
